/* A handy list of color names: https://www.w3schools.com/colors/colors_names.asp */


 body {
    background-color:rgb(118,118,184);
    color:rgb(236,236,241);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: left;
    padding: 40px
}
#main-title {
    background-color:rgb(173, 173, 204);
    color: rgb(19,19,110);
    padding: 40px;
    text-align: center;
  } 

footer {
    background-color: rgb(173, 173, 204);
    padding: 10px;
    text-align: center;
    color: rgb(19,19,110);
  }

#table {
    margin: 20px auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
td, th {
    border: 1px solid (19,19,110);
    text-align: center;
    padding: 8px;
  }

  .table-footer {
    text-align: center;
    background-color: rgb(173, 173, 204);
    color: rgb(19,19,110);
    padding: 20px;
    
  }

  .list {
    padding-top: 40px;
    text-align: left;
    margin: 40 auto;
    
  }