/* A handy list of color names: https://www.w3schools.com/colors/colors_names.asp */


 body {
    background-color:steelblue;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 40px
}
#header-title {
    background-color:whitesmoke;
    color: steelblue;
    font-family: Georgia, 'Times New Roman', Times, serif
    padding: 80px;
    text-align: center;
  } 

footer {
    background-color: whitesmoke;
    padding: 10px;
    text-align: left;
    color:steelblue;
  }

#table {
    margin: 20px auto;
    font-family: arial, sans-serif;
    border-style: groove;
    width: 100%;
    align-self: center;
  }
  
td, th {
    border: 2px solid steelblue;
    text-align: center;
    padding: 8px;
  }

  .table-footer {
    text-align: left;
    background-color: whitesmoke;
    color: steelblue;
    padding: 20px;
    
  }

  .list {
    list-style-type: none;
    padding-top: 0;
    text-align: center;
    margin: 0;
    
  }