/* A handy list of color names: https://www.w3schools.com/colors/colors_names.asp */


 body {
    background-color:steelblue;
    color:whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;
    padding: 40px
}
#header-title {
    background-color:whitesmoke;
    color: steelblue;
    padding: 40px;
    text-align: center;
  } 

footer {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    color:steelblue;
  }

#table {
    margin: 20px auto;
    font-family: arial, sans-serif;
    border-style: groove;
    width: 100%;
    align-self: center;
  }
  
td, th {
    border: 2px solid whitesmoke;
    text-align: center;
    padding: 8px;
  }

  .table-footer {
    text-align: center;
    background-color: steelblue;
    color: whitesmoke;
    padding: 20px;
    
  }

  .list {
    padding-top: 40px;
    text-align: left;
    margin: 40 auto;
    
  }